#form-row {
	display: flex;
    align-items: center;
	position: relative;
	top: 250px;
}

#user-submit {
	float: right;
	margin-top: 10px;

}

#username-corner {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
}

#error-msg {
	color: red;
	margin-top: 15px;
}
