html, body {
	height: 100%;
}

#whiteboard-row {
	display: none;
	width: 100%;
}

#whiteboard {
	background-image: url(../images/background.jpeg);
    height: 95%;
    border: 1px solid #ccc;
    min-height: 95%;
    width: 80%;
    position: absolute;
    left: 0;
    top: 41px;
}

#topbar {
	width: 100%;
    height: 40px;
    position: absolute;
    background-color: green;
    left: 0px;
}

#nickname {
	width: 182px;
    display: inline-block;
    height: 100%;
    position: absolute;
    left: 50px;
    top: 0px;
    bottom: 0px;
}

#whiteboard-bar {
	width: 80%;
    display: inline-block;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

#link-wrap {
	width: auto;
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 6px;
    top: 5px;
    bottom: 0px;
    padding: 0;
}

#code-wrap {
	display: inline-block;
}

#code-txt {
	text-align: center;
}

#copy-code-error {
	display: inline;
	font-style: italic;
	margin-right: 10px;
}

#toolbar {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background-color: lightgray;
	z-index: 2;
}

#chat {
	min-height: 95%;
    position: absolute;
    right: 0;
    width: 20%;
    top: 40px;
}

#chat-bar {
	display: inline-block;
    position: absolute;
    right: 0;
    width: 20%;
}

#users-online {
	display: inline-block;
    width: 86%;
    position: relative;
    top: 3px;
    left: 6px;
}

#minimize-chat {
	float: right;
	margin: 10px;
	cursor: pointer;
}

#chat-form {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
}

#chat-messages-list {list-style-type: none; margin: 0; padding: 0;}
#chat-messages-list li { padding: 5px 10px; }
#chat-messages-list li:nth-child(odd) { background: #eee; }
