html, body {
	height: 100%;
}

#whiteboard-row {
	display: none;
	min-height: 50%;
}

#whiteboard {
	background-image: url("../images/background.jpeg");
	height: 95%;
	border: 1px solid #ccc;
	min-height: 95%;
	position: absolute;
	top: 4%;
}
